body {
    background-image: url(background-image.png);
}

.container {
    position: relative;
    overflow: hidden;
    width: 850px;
    height: 1130px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin: auto;
}

.responsive-iframe {
    position: aboslute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}